/* INDEX PAGE */
/* Banner */
/* Group of icons */
/* END OF INDEX PAGE */
html {
  position: relative;
  min-height: 100%;
}
body {
  background-color: rgba(127, 191, 191, 0.5);
}
body.homepage {
  background: url('../img/a-world-of-possibilities-darker.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 3.5em;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3.5em;
  background-color: #f8f8f8;
  border: 1px solid #e7e7e7;
  text-align: center;
  padding: 1em;
  font-weight: 200;
  font-size: small;
}
.main-banner .jumbotron {
  background-color: rgba(127, 191, 191, 0.5);
  height: 12em;
  text-shadow: black 0.2em 0.2em 0.2em;
  color: white;
  text-align: center;
}
.look-around {
  text-align: center;
  padding: 6em;
}
.look-around .circle-icon {
  color: #7fbfbf;
}
.look-around .look-around-icon {
  color: white;
  font-size: 0.8em;
}
.look-around .fa-stack:hover .circle-icon {
  color: rgba(127, 191, 191, 0.5);
}
.look-around h3 {
  color: white;
  font-weight: 100;
  text-shadow: black 0.2em 0.2em 0.2em;
}
hr {
  border-top: 1px solid #e7e7e7;
}
.no-margin-bottom {
  margin-bottom: 0em;
}
.admin-sidebar-item:hover {
  background-color: #7fbfbf;
}
#eventFiltersForm {
  padding: 1em;
  text-align: left;
}
form input,
form label {
  display: inline;
}
form input {
  margin-right: 5px !important;
}
.form-alert {
  margin: 2px 0;
}
.user-dropdown {
  margin-top: 9px;
  margin-right: 1em;
}
.sidebar-categories {
  padding: 0.8em;
  margin: 0.5em 0.5em;
}
.block {
  display: block;
}
.inline {
  display: inline-block;
}
.navbar-logo img {
  max-height: 2.8em;
  margin-top: -0.8em;
  margin-bottom: -0.7em;
}
#logIn {
  margin-right: 1em;
}
@media screen and (max-width: 600px) {
  .look-around {
    font-size: 0.5em;
  }
  .look-around h3 {
    font-size: 2.5em;
  }
}
