@import "variables";

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: @teal-transparent;
}

body.homepage {
  background: url(@index-background-image-url) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: @footer-height;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: @footer-height;
  background-color: @footer-background-color;
  border: 1px solid @soft-grey;
  text-align: center;
  padding: 1em;
  font-weight: 200;
  font-size: small;
}

.main-banner {
  .jumbotron {
    background-color: @teal-transparent;
    height: @index-jumbotron-height;
    text-shadow: black 0.2em 0.2em 0.2em;
    color: @index-font-color;
    text-align: center;
  }
}

.look-around {
  text-align: center;
  padding: 6em;

  .circle-icon {
    color: @teal;
  }

  .look-around-icon {
    color: @index-font-color;
    font-size: 0.8em;
  }

  .fa-stack:hover {
    .circle-icon {
      color: @teal-transparent;
    }
  }

  h3 {
    color: white;
    font-weight: 100;
    text-shadow: black 0.2em 0.2em 0.2em;
  }
}

hr {
  border-top: 1px solid @soft-grey;
}

.no-margin-bottom {
  margin-bottom: 0em;
}

.admin-sidebar-item:hover {
  background-color: @teal;
}

#eventFiltersForm {
  padding: 1em;
  text-align: left;
}

form {
  input, label {
    display: inline;
  }

  input {
    margin-right: 5px !important;
  }
}

.form-alert {
  margin: 2px 0;
}

.user-dropdown {
  margin-top: 9px;
  margin-right: 1em;
}

.sidebar-categories {
  padding: 0.8em;
  margin: 0.5em 0.5em;
}

.block {
  display: block;
}

.inline {
  display: inline-block;
}

.navbar-logo {
  img {
    max-height: 2.8em;
    margin-top: -0.8em;
    margin-bottom: -0.7em;
  }
}

#logIn {
  margin-right: 1em;
}

@media screen and (max-width: 600px) {
  .look-around {
    font-size: @look-around-icon-size;
    h3 {
      font-size: @look-around-text-size;
    }
  }
}