@main-container-max-width: 730px;

@teal-transparent: rgba(127, 191, 191, 0.5);
@teal: rgb(127, 191, 191);
@soft-grey: #e7e7e7;
@off-white: #f5f5f5;

@footer-background-color: #f8f8f8;
@footer-height: 3.5em;

/* INDEX PAGE */

/* Banner */
@index-font-color: white;
@index-background-image-url: '../img/a-world-of-possibilities-darker.jpg';
@index-jumbotron-height: 12em;

/* Group of icons */
@look-around-text-size: 2.5em;
@look-around-icon-size: 0.5em;

/* END OF INDEX PAGE */